@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*, html, body {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav {
  width: 60vw;
  height: 8vh;
  font-family: "Fredoka", sans-serif;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  width: 50%;
  height: 100%;
}
.logo-container .logo-container-p {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: black;
}
.logo-container .logo-container-p a {
  color: black;
  text-decoration: none;
}
.logo-container .logo-container-p a:visited:link:hover {
  color: black;
}
.logo-container .logo-container-p :hover {
  cursor: pointer;
}

.nav-offer-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 40%;
}
.nav-offer-container .nav-offer-container-content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-offer-container .nav-offer-container-user {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-offer-container .nav-offer-container-user :hover {
  background: #F7B624;
}
.nav-offer-container .nav-offer-container-user :hover .drop-holder {
  display: block;
}
.nav-offer-container .wrapper-icon-info {
  width: 70%;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  justify-content: center;
}
.nav-offer-container .wrapper-icon-info svg {
  margin-left: 5px;
}
.nav-offer-container a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.nav-offer-container a:visited:link {
  color: black;
}

.drop-holder {
  display: none;
  position: absolute;
  z-index: 1000;
  background: #F7B624;
  left: 0;
  width: 100%;
  top: 100%;
}
.drop-holder li {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.drop-holder li:last-child {
  margin-bottom: 10px;
}
.drop-holder li:hover .drop-holder {
  display: block;
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-div {
  width: 65vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 40px;
}

.card {
  width: 17.1052631579vw;
  height: 17.1052631579vw;
  overflow: hidden;
}
.card .card-img {
  height: 55%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.card .card-img :hover {
  transform: scale(1.1);
  cursor: pointer;
}
.card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.card .card-img img :hover {
  transform: scale(1.3);
  cursor: pointer;
}
.card .card-content {
  background: #d4d4d4;
  width: 100%;
  height: 45%;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card .card-content .card-content-title {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-content .card-content-title .card-content-title-helper {
  width: 85%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.card .card-content .card-content-title :hover {
  cursor: pointer;
}
.card .card-content .card-content-info {
  width: 100%;
  height: 33%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-content .card-content-info .card-content-info-helper {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}
.card .card-content .card-content-info .card-content-info-tags {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
}
.card .card-content .card-content-info .card-content-info-tag {
  display: flex;
  width: auto;
  height: auto;
  border-radius: 50px;
  background: #F7B624;
  font-size: 12px;
  padding: 5px 8px;
  margin-right: 10px;
}
.card .card-content .card-content-info .card-content-info-favorite {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 20%;
  color: #F7B624;
  margin-bottom: 10px;
}
.card .card-content .card-content-info .card-content-info-favorite :hover {
  cursor: pointer;
}
.card .card-content .card-content-info .card-content-info-favorite .card-content-info-favorite-heart {
  color: #F7B624;
}
.card .card-content .card-content-bottom {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 5px 0;
}
.card .card-content .card-content-bottom .card-content-bottom-helper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
.card .card-content .card-content-bottom .card-content-bottom-date {
  font-size: 10px;
  color: #1a1a1a;
}
.card .card-content .card-content-bottom .card-content-bottom-price {
  font-size: 15px;
  font-weight: bold;
}

.login-container {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff7e6;
}
.login-container .login-container-helper {
  width: 80%;
  height: 90%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4vh;
  padding: 2vh;
  -webkit-box-shadow: -10px 10px 20px -10px rgb(66, 68, 90);
  -moz-box-shadow: -10px 10px 20px -10px rgb(66, 68, 90);
  box-shadow: -10px 10px 20px -10px rgb(66, 68, 90);
}

.login-content {
  width: 50%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-content .login-content-helper {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-content .login-content-hello {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F7B624;
  margin-bottom: 5vh;
}
.login-content .login-content-hello h3 {
  font-size: 5vh;
}
.login-content .login-content-hello p {
  margin-top: 1.5vh;
  font-size: 2vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.login-form .login-form-combo {
  display: flex;
  flex-direction: column;
  margin-top: 1.5vh;
}
.login-form .login-form-combo label {
  font-size: 1.5vh;
  margin-left: 15px;
}
.login-form .login-form-combo input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  outline: none;
  border: 3px solid;
  padding: 0.25em 0.5em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  padding: 1em;
}
.login-form .login-form-combo input :focus {
  box-shadow: 0px 0px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  top: 5px;
  left: 5px;
}
.login-form .login-form-recovery {
  margin-top: 1.5vh;
  color: black;
  display: flex;
  justify-content: right;
}
.login-form .login-form-recovery a {
  text-decoration: none;
  color: black;
}
.login-form .login-form-recovery a :link:visited {
  color: black;
}
.login-form .login-form-submit {
  margin-top: 2vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background: #F7B624;
  padding: 1em;
}
.login-form .login-form-submit :active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.login-form .login-form-socials {
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-form .login-form-socials .login-form-socials-info {
  color: gray;
}
.login-form .login-form-socials .login-form-socials-content {
  display: flex;
  margin-top: 4vh;
  justify-content: space-evenly;
  align-items: center;
}
.login-form .login-form-socials .login-form-socials-content .login-form-socials-content-circle {
  border-radius: 30px;
  cursor: pointer;
  width: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form .login-form-socials .login-form-socials-content .login-form-socials-content-circle svg {
  padding: 30px;
  border-radius: 80px;
}
.login-form .login-form-socials .login-form-socials-content .login-form-socials-content-circle :hover {
  background: #F7B624;
}

.login-content-register {
  width: 50%;
  height: 100%;
  background: #F7B624;
  display: flex;
  justify-content: center;
  border-radius: 4vh;
}
.login-content-register .login-content-register-info {
  color: #fff7e6;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.login-content-register .login-content-register-info h1 {
  font-size: 3.5vw;
}
.login-content-register .login-content-register-info .login-content-register-button {
  display: flex;
  align-items: center;
  width: 10vw;
  justify-content: center;
  height: 4vh;
  margin-top: 4vh;
}
.login-content-register .login-content-register-info .login-content-register-button button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 1em;
}
.login-content-register .login-content-register-info .login-content-register-button button :active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

/*# sourceMappingURL=main.css.map */
