{% extends 'main.html' %}

{% block content %}

<div class="main-container-offers">
  {% include 'control_panel.html' %}
  <div class="main-offers-mid">
    <div class="main-offers-mid__header">
      <div class="main-offers-mid__header__wrapper">
        <h1>Moje oferty</h1>
        <a href="{% url 'create_offer' %}">
          <button class="main-offers-mid__header__wrapper__add">Dodaj</button>
        </a>
      </div>
    </div>
    {% for post in posts %}
    {% if post.owner.id == request.user.id %}
      <p>{{ request.user.id }}</p>
      <a href="{% url 'update_offer' post.id %}">Edytuj</a>
      <a href="{% url 'delete_offer' post.id %}">Usuń</a>
      <p>{{ post.owner.id }}</p>
      <p>{{ post.title }}</p>
      <p>{{ post.description }}</p>
      {% if post.image %}
        <img src="{{ post.image.url }}"></img>
      {% else %}
        <p>No image available for this post.</p>
      {% endif %}      
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}